
<footer class="footer">
  <small>
    <a href="#">这个APP骄傲的使用</a>
    RUBY
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact",contact_path %></li>
    </ul>
  </nav>
</footer>
